{%load static%}
{%load blog_tags%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->
    <title>{%block title_block%}{%endblock%}</title>
    <link rel="stylesheet" href="{%static 'css/blog.css' %}">
  </head>
  <body>

  <div class="header">
    <h2>Jayveer Kher's Personal Blog</h2>
  </div>
<div class="row">
  <div>
    <ul>
      <li><a href="{%url 'post_list'%}">Home</a></li>
      <li><a href="{%url 'post_list_by_tag_name' 'python' %}">Python</a></li>
    </ul>
  </div>
</div>
  <div class="row">
    {%block body_block%}{%endblock%}
    <div class="rightcolumn">
      <div class="card">
        <h2 class="bottom_line">About Me</h2>
        <!-- <div class="fakeimg" style="height:100px;">Image</div> -->
        <h2>Jayveer Kher</h2>
        <h3>Asst. Professor</h3>
        <h3>Parul University</h3>
      </div>
      <div class="card">
        <h3>Total Posts : {%total_posts%}</h3>
      </div>
      <div class="card">
        <h3 class="bottom_line">Latest Posts</h3>
        {%show_latest_posts 3%}
      </div>

      <div class="card">
        <h3 class="bottom_line">Most Commented Posts</h3>
        {%get_most_commented_posts%}
      </div>
    </div>
  </div>



  <div class="footer">
    <h2>Jayveer Kher &copy 2020</h2>
  </div>

  </body>
