{%extends 'post/base.html'%}

{%block title_block%}
{{post.title}}
{%endblock%}


{%block body_block%}
<div class="leftcolumn">
    <!-- This div for post details -->
    <div class="card">
    <h2  class="bottom_line">{{post.title}}</h2>
    <h5>Published on {{post.publish}} by {{post.author|title}}</h5>
    <!-- <div class="fakeimg" style="height:200px;">Image</div> -->
    <p>{{post.body| safe}}</p>
    </div>
    <!-- End post details div -->


    <!-- This div for share post by email -->
    <div class="card" align='right'>
      <a href="{%url 'share_by_mail' post.id%}" class="btn">Share Post by Email</a>
    </div>
    <!-- End share post by email div -->

    <!-- This div for view comments of the post -->
    <div class="card">

      {% with comments.count as comments_count%}
      <h2 class="bottom_line">{{comments_count}} Comment{{comments_count|pluralize}}</h2>
      {%endwith%}

      {%if comments%}
        {%for comment in comments%}
        <h5>Comment {{forloop.counter}} by {{comment.name}} on {{comment.created}}</h5>
        <p>{{comment.body|linebreaks}}</p>
      {%endfor%}
      {%else%}
        <p>There are no Comments Yet!!!</p>
      {%endif%}
    </div>
    <!-- End Comments view Div -->

    <!-- Div for add comment of post -->
    <div class="card">
      {%if csubmit%}
            <h2 style='color:green;'>Your Comment added successfully....</h2>
      {%else%}
            <h2  class="bottom_line">You can submit your view regarding this post here!</h2>
            <form method="post">
              {{form.as_p}}
              {%csrf_token%}
              <input type="submit" value="Submit Comment">
            </form>
          {%endif%}
    </div>

    <!-- End comment post div -->

</div>
{%endblock%}
